<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  </head>
  <body>
<div align="center" class = "quiz_box">
    <h1 class = "big"> This quiz will determine whether you are an introvert, extrovert, or ambivert </h1>
    <br>
        <form method="POST" action="/results">
    <h1 class="playfair"> 1. I describe myself as friendly, talkative, and enthusiastic: </h1>
    <label><input type = "radio" name = "Q1" value = "always">always</label>
    <label><input type = "radio" name = "Q1" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q1" value = "never">never</label>

    <br>

    <h1 class="playfair"> 2. I like to participate in a diversity of activities: </h1>
    <label><input type = "radio" name = "Q2" value = "always">always</label>
    <label><input type = "radio" name = "Q2" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q2" value = "never">never</label>

    <br>

    <h1 class="playfair"> 3. When something goes wrong, I ask the opinions and perspectives of the people around me: </h1>
    <label><input type = "radio" name = "Q3" value = "always">always</label>
    <label><input type = "radio" name = "Q3" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q3" value = "never">never</label>

    <br>

    <h1 class="playfair"> 4. I like to have a packed schedule and keep busy: </h1>
    <label><input type = "radio" name = "Q4" value = "always">always</label>
    <label><input type = "radio" name = "Q4" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q4" value = "never">never</label>

    <br>

    <h1 class="playfair"> 5. I enjoy taking breaks from work to talk with people: </h1>
    <label><input type = "radio" name = "Q5" value = "always">always</label>
    <label><input type = "radio" name = "Q5" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q5" value = "never">never</label>

    <br>

    <h1 class="playfair"> 6. I would rather be with 100 people than be alone: </h1>
    <label><input type = "radio" name = "Q6" value = "always">always</label>
    <label><input type = "radio" name = "Q6" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q6" value = "never">never</label>

    <br>

    <h1 class="playfair"> 7. I do not have a filter and I say anything that comes to mind: </h1>
    <label><input type = "radio" name = "Q7" value = "always">always</label>
    <label><input type = "radio" name = "Q7" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q7" value = "never">never</label>

    <br>

    <h1 class="playfair"> 8. Public speaking excites me: </h1>
    <label><input type = "radio" name = "Q8" value = "always">always</label>
    <label><input type = "radio" name = "Q8" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q8" value = "never">never</label>

    <br>

    <h1 class="playfair"> 9. After getting together with other people I feel energized: </h1>
    <label><input type = "radio" name = "Q9" value = "always">always</label>
    <label><input type = "radio" name = "Q9" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q9" value = "never">never</label>

    <br>

    <h1 class="playfair"> 10. I am often told to keep my voice down: </h1>
    <label><input type = "radio" name = "Q10" value = "always">always</label>
    <label><input type = "radio" name = "Q10" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q10" value = "never">never</label>

    <br>

    <h1 class="playfair"> 11. Meeting new people excites me: </h1>
    <label><input type = "radio" name = "Q11" value = "always">always</label>
    <label><input type = "radio" name = "Q11" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q11" value = "never">never</label>

    <br>

    <h1 class="playfair"> 12. I prefer talking to people rather than journaling my thoughts/feelings: </h1>
    <label><input type = "radio" name = "Q12" value = "always">always</label>
    <label><input type = "radio" name = "Q12" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q12" value = "never">never</label>

    <br>

    <h1 class="playfair"> 13. I am comfortable with sharing personal stories: </h1>
    <label><input type = "radio" name = "Q13" value = "always">always</label>
    <label><input type = "radio" name = "Q13" value = "sometimes">sometimes</label>
    <label><input type = "radio" name = "Q13" value = "never">never</label>
         <br>
          <input type="submit" value="Submit">
    </form>
  </div>
    </body>
</html>