<!DOCTYPE HTML>
<!--
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Helios by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">


			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1><a href="index.html" id="logo">Bridge to Service</a></h1>
								<hr />
								<p>Using your personality to shape the world</p>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Begin</a>
							</footer>
						</div>

				<!-- Nav -->
				<nav id="nav">
						<ul>
<!-- 								<li><a href="index.html">Home</a></li> -->
								<li>
<!-- 									<a href="#">Dropdown</a> -->
									<ul>
										<li><a href="#">Lorem ipsum dolor</a></li>
										<li><a href="#">Magna phasellus</a></li>
										<li><a href="#">Etiam dolore nisl</a></li>
										<li>
											<a href="#">And a submenu &hellip;</a>
											<ul>
												<li><a href="#">Lorem ipsum dolor</a></li>
												<li><a href="#">Phasellus consequat</a></li>
												<li><a href="#">Magna phasellus</a></li>
												<li><a href="#">Etiam dolore nisl</a></li>
											</ul>
										</li>
										<li><a href="#">Veroeros feugiat</a></li>
									</ul>
								</li>
<!-- 								<li><a href="left-sidebar.html">Left Sidebar</a></li>
								<li><a href="right-sidebar.html">Right Sidebar</a></li>
								<li><a href="no-sidebar.html">No Sidebar</a></li> -->
							</ul>
						</nav>

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2> <strong>Our Mission</strong>.</h2>
						<p>
              Our world and the people in it are the greatest resources to help restore and shape communities. By determining your personality, we can create a tighter bond and passion for helping others by matching you with a volunteer opportunity that suits you best. Many people, may not realize just how easy helping your community is! There are all types of services you can join whether you’re an introvert, extrovert, or ambivert. <a href="/quiz"><strong>Take our quiz</strong></a>.
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
          <div id="change_header">
            <header><strong> Get Inspired Through These Amazing Volunteers </strong> </header>
          </div>
          <div class="reel">

						<article>
							<a href="#" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/ef2e1cd0/Steph-and-puppies_3_300x350.jpg" alt="" /></a>
							<header>
								<h3><a href="https://www.volunteermatch.org/volunteers/stories/spotlight.jsp?id=105">Stephanie Hong</a></h3>
							</header>
							<p>Restoring our faith in humanity.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/ef2e1cd0/IMG_0010_300x350.jpeg" alt="" /></a>
							<header>
								<h3><a href="https://www.volunteermatch.org/volunteers/stories/spotlight.jsp?id=108">Susan Miller</a></h3>
							</header>
							<p>Finding a purpose in retirement.</p>
						</article>

						<article>
							<a href="https://www.volunteermatch.org/volunteers/stories/spotlight.jsp?id=107" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/ef2e1cd0/Sharon-Reasonover_300x350.jpg" alt="" /></a>
							<header>
								<h3><a href="https://www.volunteermatch.org/volunteers/stories/spotlight.jsp?id=107">Sharon Reasonover</a></h3>
							</header>
							<p>Volunteering meets heroism when it comes saving lives.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/f9f72f60/karlies_cookies_3_300x350.jpg" alt="" /></a>
							<header>
								<h3><a href="http://www.glamour.com/story/karlie-kloss-karlies-kookies-interview">Karlie Kloss</a></h3>
							</header>
							<p>Baking a difference one cookie at a time.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/ef2e1cd0/m49540129_CarolAnderheggen-200x200_300x350.jpg" alt="" /></a>
							<header>
								<h3><a href="http://www.redcross.org/local/rhode-island/volunteer/stories">Carol Anderheggen</a></h3>
							</header>
              <p>Preparing everyone for disaster.</p>
						</article>

            <article>
							<a href="#" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/f9f72f60/karlie_coding_2_1_300x350.jpg" alt="" /></a>
							<header>
								<h3><a href="http://www.kodewithklossy.com/">Karlie Kloss</a></h3>
							</header>
							<p>Inspiring girls one code at a time.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/ef2e1cd0/Rajan-Taylor_300x350.jpg" alt="" /></a>
							<header>
								<h3><a href="https://www.volunteermatch.org/volunteers/stories/spotlight.jsp?id=103">Rajan Taylor</a></h3>
							</header>
							<p>A champion when conquering child hunger</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/ef2e1cd0/F11E21A3-5F07-048E-A163-EDA672C5D23C_m_300x350.jpg" alt="" /></a>
							<header>
								<h3><a href="https://www.volunteermatch.org/volunteers/stories/spotlight.jsp?id=93">Jenna Whittingham</a></h3>
							</header>
							<p>Using design to help the American Cancer Society.</p>
						</article>

						<article>
							<a href="#" class="image featured"><img src="http://www.simpleimageresizer.com/_uploads/photos/ef2e1cd0/Dr_John_A_Ness_300x350.jpg" alt="" /></a>
							<header>
								<h3><a href="https://www.volunteermatch.org/volunteers/stories/spotlight.jsp?id=83">Dr.John Ness</a></h3>
							</header>
							<p>Love without boundaries is this doctor's medicine.</p>
						</article>

					</div>
				</section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<div id="us">
            <a href="#" class="image featured"><img src="images/FullSizeRender.jpg" alt="" /></a>
            </div>
						<header>
							<h2><a href="#">A note from the creators</a></h2>
							<p>
						(From left to right) Anya Nutakki, Hana Stauss, Emma Butler, and Savannah Luy
						</p>
						</header>
						<p>
     None of us knew that walking into Kode with Klossy on the first day would result in us walking out a girl coder. Sure, the website said we would learn how to code in the description. However, we are no ordinary girl coders. We are girl heroes flying around the planet with our cool capes making changes to the world. Little by little, code by code, we are creating things from the ground up. Long gone are the days where we had great ideas, but never had the skill to put them in action. Coding changed that.
						</p>
            <p>
      In the past two weeks, we have been introduced to the the one thing that runs our world: code. From stop lights to computers, coding is everywhere, and it has been a priviledge to immerse ourselves in the language. For the final project, we wanted to create something that we all believed in. This is why we chose to build our app around community service. Because we believe in the importance of giving back, we wanted to help others to give back to their own community. In addition, through our app, people are able to decide how to help their community based on their personality. This way, not only do they get the best out of serving their community, the people who are being served do as well. We hope you enjoy this app as much as we did creating it.
					</article>

				</div>

			<!-- Features -->
				<div class="wrapper style1">

					<section id="features" class="container special">
						<header>
							<h2>The 3 Personality Types</h2>
							<p>What do they mean?</p>
						</header>
						<div class="row">
							<article class="4u 12u(mobile) special">
								<a href="#" class="image featured"><img src="images/extrovert_s.png" alt="" /></a>
								<header>
									<h3><a href="#">Extrovert</a></h3>
								</header>
								<p>
An extrovert will talk with someone else rather than sit alone and think. They tend to think as they speak. Concepts just don't seem real to them unless they can talk about them; reflecting on them isn't enough. They enjoy social situations and even seek them out since they enjoy being around people.
								</p>
							</article>
							<article class="4u 12u(mobile) special">
								<a href="#" class="image featured"><img src="http://i1.wp.com/feelbettercollective.com/blog/wp-content/uploads/2016/01/Ambivertalert-1.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Ambivert</a></h3>
								</header>
								<p>
                 An ambivert is: balanced, they seek social settings, they are not overly loud and aggressive, they enjoy being outgoing on their own terms. They can work well alone or in groups. On the down side, this level of flexibility can cause them to be indecisive.
								</p>
							</article>
							<article class="4u 12u(mobile) special">
								<a href="#" class="image featured"><img src="http://collegeinfogeek.com/wp-content/uploads/2015/07/introvert-vs-shy.jpg" alt="" /></a>
								<header>
									<h3><a href="#">Introvert</a></h3>
								</header>
								<p>
									Being around lots of people drains an introvert's energy. They enjoy solitude and normally have a small group of friends. People often describe introverts as quiet, making it hard for people to get to know them. Too much stimulation leaves them feeling distracted and unfocused.
								</p>
							</article>
						</div>
					</section>

				</div>

			<!-- Footer -->
				<div id="footer">
					<div class="container">
						<div class="row">

							<!-- Tweets -->
								<section class="4u 12u(mobile)">
									<header>
										<h2 class=""><span class=""></span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="tweet">
												"The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart."
                        <p>-Helen Keller</p>
												<span></span>
											</article>
										</li>
										<li>
											<article class="tweet">
												"No act of kindness, no matter how small, is ever wasted."
                        <p>-Aesop</p>
												<span></span>
											</article>
										</li>
										<li>
											<article class="tweet">
												"The measure of who we are is what we do with what we have."
                        <p>-Vince Lombardi</p>
												<span></span>
											</article>
										</li>
										<li>
											<article class="tweet">
											"If you believe in yourself and feel confident in yourself, you can do anything. I really believe that."
                        <p>-Karlie Kloss</p>
												<span></span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Posts -->
								<section class="4u 12u(mobile)">
									<header>
										<h2 class=""><span class="label"></span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
<!-- 													<h3><a href="#">A huge thanks to Kode with Klossy!</a></h3> -->
												</header>
												<span></span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
<!-- 													<h3><a href="#">Phasellus portitor lorem</a></h3> -->
												</header>
												<span></span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
                          <div class="karlie_kloss">
                          <a href="#" class="karlie"> <img src="http://n1s1.hsmedia.ru/04/57/b2/0457b26c83c7aebdea3545a36815f757/337x506_1_331920d538b68d831cfb8e497aaa789d@3488x5232_0xc0a83925_3705846991464373221.jpeg" alt="" /></a>
                            </div>
												</header>
												<span></span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
<!-- 													<h3><a href="#">Feugiat lorem ipsum</a></h3> -->
												</header>
												<span></span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Photos -->
								<section class="4u 12u(mobile)">
									<header>
										<h2><span class="label">Major Volunteer Organizations</span></h2>
									</header>
									<div class="row 25%">
										<div class="6u">
											<a href="#" class="image fit"><img src="images/gfc-large.jpg" alt="http://www.girlsforachange.org/" /></a>
										</div>
										<div class="6u$">
											<a href="#" class="image fit"><img src="images/aspca-logo-square.png" alt="https://www.aspca.org/" /></a>
										</div>
										<div class="6u">
											<a href="#" class="image fit"><img src="images/fh_feedingamerica.jpg" alt="http://www.feedingamerica.org/?referrer=https://www.google.com/" /></a>
										</div>
										<div class="6u$">
											<a href="#" class="image fit"><img src="images/logofacebook.jpg" alt="http://www.redcross.org/?scode=RSG00000E017&gclid=CMu5lMjwqM4CFYGTfgodHagLkQ&gclsrc=aw.ds&dclid=CIf62sjwqM4CFcp7fgodfpUIZg" /></a>
										</div>
										<div class="6u">
											<a href="#" class="image fit"><img src="images/US-Official-PeaceCorps-Logo_svg.png" alt="https://www.peacecorps.gov/unexpected/?gclid=CM_yx9jxqM4CFUSSfgodlewKYw" /></a>
										</div>
										<div class="6u$">
<!-- 											<a href="#" class="image fit"><img src="images/arf_logo_v2.jpgs" alt="https://www.arflife.org/" /></a> -->
										</div>
									</div>
								</section>


								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>Kloss Angeles 2016</h3>
										</header>
										<p>A Kode with Klossy Web Application</p>
<!-- 										<ul class="icons">
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
											<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
										</ul> -->
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.onvisible.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>