<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/style.css">
  <body>
    <h1>Welcome to the Klossy Kalculator!</h1>
    <form method="post" action="/calculate">
      <h3> What is your first number?</h3>
      <input type="text" name="num1">
      <h3> What is your second number?</h3>
      <input type="text" name="num2">
      <h1>What is your birthday? Please enter in the form mm/dd/yyyy</h1>
      <input type="text" name="birthday">
      <input type="submit">
    </form>
  </body>
</html>
