<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1> The sum of your numbers is <%=@sum%> </h1>
    <h1> You have been alive for <%=@days_alive%> days!</h1>
  </body>
</html>